#song {
	font-family: sans-serif;
	font-size: 18px;
	color: #2a25bb;
  text-align: center;
}
h2 {
  font-family: cursive;
}
.center {
  text-align: center;
}
body {
  background-color: #cdddb6;
}     
.day {
  background-color:#b6d1dd;
}
body {
  border: black dotted;
  margin: 20px;
  padding: 20px;
}
img {
  border: 5px brown dotted;
}
 
