#song {
	font-family: sans-serif;
	font-size: 18px;
	color: #2a25bb;
  text-align: center;
}
p, li {
  font-size: 20px;
}
h2 {
  font-family: cursive;
}
.center {
  text-align: center;
}
body {
  background-color: #cdddb6;
}     
.day {
  background-color:#b6d1dd;
}
img {
  border: 5px #05045d solid;
  position: relative; 
}
a:hover {
  color: #fb6a09;
  background-color: #89ece0;
}
/*.image {
  margin: auto;
  width: fit-content;
}*/
.image p {
  text-align: center;
}
img {
  display: block;
  margin: auto;
}
 body {
  font-family: Cochin;
  border: black solid;
  margin: 20px;
  padding: 20px;
}
.icon {
  position:relative;
  top: 20px;
}
